simple-page(flutter-widget :page style='simple.sass')
	platform-scaffold
		platform-app-bar(as='appBar')
			#title(as='title' :height='page.titleHeight') 
				| ${page.title}
		#body(as='body')
			column
				| Welcome ${page.firstName}!
				#greeting Hello
				#actions.a.b
					box-decoration(as='decoration' :border='Border.all(width: 1.0)')
					platform-button(:on-pressed='page.tapped') Click me!!!
