SimplePage(flutter-widget :page)
	PlatformScaffold
		PlatformAppBar(slot='appBar')
			#title(slot='title' :height='page.titleHeight') 
				| ${page.title}
		#body(slot='body')
			Column
				| Welcome ${page.firstName}!
				#greeting Hello
				#actions
					BoxDecoration(slot='decoration' :border='Border.all(width: 1.0)')
					PlatformButton(:onPressed='page.tapped') Click me!
