simple-page(flutter-widget :page)
	platform-scaffold
		platform-app-bar(slot='appBar')
			#title(slot='title' :height='page.titleHeight') 
				| ${page.title}
		#body(slot='body')
			column
				| Welcome ${page.firstName}!
				#greeting Hello
				#actions.a.b
					box-decoration(slot='decoration' :border='Border.all(width: 1.0)')
					platform-button(:on-pressed='page.tapped') Click me!
